<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

<form action="/searchbyname" method="get">
  <label>
    <h1>Search by name</h1>
    <input type="text" name="query" />
  </label>
  <input type="submit" />
</form>

<form action="/searchbyschool" method="get">
  <label>
    <h1>Search by school</h1>
    <input type="text" name="query" />
  </label>
  <input type="submit" />
</form>

<table th:each="classroom : ${classrooms}">
  <tr>
    <th colspan="3" style="text-align:center" th:text="${classroom.getFirst()}"></th>
  </tr>
  <tr th:each="row: ${classroom.getSecond()}">
    <td  th:each="desk: ${row}"> <b style="white-space: pre-line" th:each="student: ${desk}" th:text="${student == null} ? '' : |${student.getPartialDescription()} |" />  </td>
  </tr>
</table>



<a href="/addstudent">Add new student</a>
<a href="/addclassroom">Add new classroom</a>

</body>
</html>