<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
  <title>Title</title>
</head>
<body>

<form action="/searchbyname" method="get">
  <label>
    Search by name:
    <input type="text" name="query" />
  </label>
  <input type="submit" />
</form>

<form action="/searchbyschool" method="get">
  <label>
    Search by school:
    <input type="text" name="query" />
  </label>
  <input type="submit" />
</form>

<table th:each="classroom : ${classrooms}">
  <tr th:each="row: ${classroom}">
    <td th:each="student: ${row}" th:text="${student == null} ? '' : ${student.getPartialDescription()} "/>
  </tr>
</table>



<a href="/addstudent">Add new student</a>
<a href="/addclassroom">Add new classroom</a>

</body>
</html>